body {
  margin: 0px;
}

.TopBackground {
  margin: 0px;
  height: 885px;
  width: 1600px;
  background-image: url(pictures/topbg.jpg);
}

.TopGrid {
  display: grid;
  grid-template-columns: 700px 700px;
  grid-template-rows: 200px, 685px;
  margin-left: 200px;
}

.Menu {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  width: 500px;
  margin-top: 60px;
  margin-right: 15px;
  list-style-type: none;
}

.MenuText {
  font-family: verdana;
  color: rgb(255, 255, 255);
  font-size: 14px;
  height: fit-content;
}

.MenuText:hover {
  cursor: pointer;
  text-decoration: underline rgb(254, 80, 79) 3px;
  text-underline-offset: 10px;
}

._Logo{
width: 160px;
margin-left: 0px
}

.Logo {
  color: rgb(254, 80, 79);
  font-family: Verdana-Bold;
  font-size: 32px;
  margin-top: 65px;
  /* margin-bottom: 0px; */
  /* padding-left: 200px; */
  /* margin-left: 200px; */
  /*width: fit-content;*/
}

.Logo:hover {
  cursor: pointer;
}

.TextHeader1 {
  color: rgb(255, 255, 255);
  font-family: Verdana-Bold;
  font-size: 60px;
  margin-top: 125px;
  /* margin-left: 200px; */
  margin-bottom: 0px;
}

.TextHeader2 {
  color: rgb(255, 255, 255);
  font-family: verdana;
  font-size: 20px;
  /* margin-left: 200px; */
  margin-top: 30px;
  margin-bottom: 30px;
}

.YourProfitBG {
  background-image: url(pictures/YourProfitBG.png);
  background-repeat: no-repeat;
  height: 35px;
  width: 97px;
  color: rgb(255, 255, 255);
  font-family: Verdana-Bold;
  font-size: 12px;
  margin-top: 140px;
  margin-left: auto;
  padding-left: 10px;
  padding-top: 10px;
}

.HeaderButtons {
  display: flex;
  justify-content: space-between;
  /* margin-left: 200px; */
  width: 455px;
}

.HeaderBtn {
  margin-top: 10px;
  width: 215px;
  height: 65px;
  background-color: rgb(52, 52, 52);
  color: white;
  font-size: 20px;
  font-family: Verdana;
  border-radius: 50px;
  border: 0px;
}

.HeaderBtn:hover {
  cursor: pointer;
  background-color: rgb(254, 80, 79);
}

.Headline {
  font-family: Verdana-Bold;
  color: rgb(52, 52, 52);
  font-size: 24px;
  text-align: center;
  width: 1600px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.Subhead {
  font-family: verdana;
  font-size: 16px;
  color: rgb(173, 173, 173);
  text-align: center;
  width: 1600px;
}

.ServicesGrid {
  margin-top: 40px;
  margin-left: 200px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(2, 250px);
  align-items: center;
  align-content: center;
}

.ServiceImg {
  width: 55px;
  height: 55px;
  margin: auto;
  /* margin-right: 0px; */
  /* padding: auto; */
  /* align-self: center;
  align-content: center; */
  
}

.ImageButton {
  width: 55px;
  height: 55px;
}

#service1 {
  background-image: url(pictures/PerfomanceImprovment.png);
}

#service2 {
  background-image: url(pictures/CustomerStrategy.png);
}

#service3 {
  background-image: url(pictures/InformationTechnology.png);
}

#service4 {
  background-image: url(pictures/FullPotentialTransformation.png);
}

#service5 {
  background-image: url(pictures/Strategy.png);
}

#service6 {
  background-image: url(pictures/PrivateEquity.png);
}

#service7 {
  background-image: url(pictures/Digital.png);
}

#service8 {
  background-image: url(pictures/ResultsDelivery.png);
}

.ServiceTitle {
  text-align: center;
  font-size: 16px;
  font-family: Verdana-Bold;
  color: rgb(52, 52, 52);
  margin: 15px;
  margin-bottom: 0px;
}

.ServiceSubtitle {
  text-align: center;
  font-size: 14px;
  font-family: verdana;
  color: rgb(172, 172, 172);
  margin-bottom: 0px;
}

.ServiceTitle + hr {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgb(254, 80, 79);
  border: none;
  width: 60px;
  height: 3px;
}

/*=======================================================================================================================*/

.ContactUs {
  background-image: url(pictures/ContactUsBg.jpg);
  height: 400px;
  width: 1600px;
  text-align: center;
}

.Dots {
  background-image: url(pictures/dots.png);
  height: 400px;
  width: 1600px;
}
.Blackout {
  background-color: rgba(0, 0, 0, 0.7);
  height: 400px;
  width: 1600px;
}

.ContactUsInfo {
  margin: 0px;
  padding-top: 100px;
  font-size: 34px;
  font-family: Verdana-Bold;
  color: white;
  line-height: 1.6;
}

.ContactUsBtn {
  margin-top: 30px;
  width: 215px;
  height: 65px;
  background-color: rgb(52, 52, 52);
  color: white;
  font-size: 20px;
  font-family: Verdana;
  border-radius: 50px;
  border: 0px;
}

.ContactUsBtn:hover {
  cursor: pointer;
  background-color: rgb(254, 80, 79);
}

.AboutUs {
  margin: 75px 200px 35px 200px;
  display: grid;
  grid-template-rows: 170px 460px;
  grid-template-columns: repeat(2, 600px);
  grid-gap: 0px;
}

.AboutUsInfo {
  grid-column: 1 / 3;
}

.AboutUsInfo > h2 {
  margin: 0px;
  font-size: 24px;
  font-family: Verdana-Bold;
  text-align: center;
}
.AboutUsInfo > p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 25px;
  font-family: Verdana;
  font-weight: normal;
  text-align: center;
  color: rgb(175, 175, 175);
}

.WhatWeDo > h2,
.OurClients > h2,
.OurTeam > h2 {
  margin: 0px;
  font-size: 20px;
  font-family: Verdana-Bold;
  color: rgb(254, 80, 79);
}

.Underline {
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: rgb(254, 80, 79);
  border: none;
  width: 50px;
  height: 3px;
}

.WhatWeDo > p {
  margin-top: -5px;
  margin-right: 25px;
  font-size: 14px;
  font-family: Verdana;
  font-weight: normal;
  line-height: 24px;
  color: rgb(52, 52, 52);
}
.OurClients {
  padding-left: 35px;
}

.ClientsPhoto {
  display: grid;
  grid-template-rows: repeat(2, 185px);
  grid-template-columns: repeat(3, 185px);
  grid-gap: 5px;
  margin-bottom: 20px;
}
#client1 {
  background-image: url(pictures/oracle.png);
}

#client2 {
  background-image: url(pictures/sony.png);
}

#client3 {
  background-image: url(pictures/sandisk.png);
}

#client4 {
  background-image: url(pictures/mcafee.png);
}

#client5 {
  background-image: url(pictures/netflix.png);
}

#client6 {
  background-image: url(pictures/sap.png);
}

.ThreeHr {
  display: flex;
  justify-content: center;
}

.RedHr {
  margin-top: 0px;
  margin-right: 5px;
  background-color: rgb(254, 80, 79);
  border: none;
  width: 35px;
  height: 4px;
}

.GrayHr {
  margin-top: 0px;
  margin-right: 5px;
  background-color: rgb(174, 174, 174);
  border: none;
  width: 35px;
  height: 4px;
}
.OurTeam {
  margin: 1px 200px 80px 200px;
}
.OurTeamGrid {
  display: grid;
  grid-template-rows: repeat(2, 200px);
  grid-template-columns: repeat(6, 200px);
  grid-gap: 0px;
}

#person1 {
  background-image: url(pictures/person1.png);
}

#person2 {
  background-image: url(pictures/person2.jpg);
}

#person3 {
  background-image: url(pictures/person3.png);
}

#person4 {
  background-image: url(pictures/person4.png);
}

#person5 {
  background-image: url(pictures/person5.png);
}

#person6 {
  background-image: url(pictures/person6.png);
}

#person7 {
  background-image: url(pictures/person7.png);
}

#person8 {
  background-image: url(pictures/person8.png);
}

#person9 {
  background-image: url(pictures/person9.png);
}

#person10 {
  background-image: url(pictures/person10.png);
}

#person11 {
  background-image: url(pictures/person11.png);
}
#person12 {
  background-image: url(pictures/person12.png);
}

.personInfo {
  height: 200px;
  background-color: rgb(254, 80, 79);
  display: none;
}

.OurTeamGrid > div:hover .personInfo {
  cursor: pointer;
  display: block;
}

.personName {
  padding: 15px 20px 40px;
  margin: 0px;
  color: white;
  font-size: 32px;
  font-family: Verdana-Bold;
}

.personName + hr {
  width: 160px;
  height: 1px;
  border: none;
  background-color: rgb(187, 48, 48);
}

.speciality {
  margin: 10px 20px 0px;
  color: white;
  font-size: 12px;
  font-family: Verdana-Bold;
}
.role {
  margin: 5px 20px;
  color: white;
  font-size: 12px;
  font-family: Verdana;
  font-weight: normal;
}

.Strategic {
  background-image: url(pictures/Strategic.jpg);
  height: 400px;
  width: 1600px;
  text-align: center;
  margin-top: 30px;
}

.StrategicInfo + p {
  font-size: 16px;
  font-family: Verdana;
  color: white;
  font-weight: normal;
  line-height: 1.5;
}

.PlayBtn {
  width: 100px;
  height: 100px;
  background-color: rgb(52, 52, 52);
  border-radius: 50px;
  border: 0px;
  color: white;
  font-size: 35px;
  padding-left: 10px;
  margin-top: 90px;
}

.PlayBtn:hover {
  cursor: pointer;
  background-color: rgb(254, 80, 79);
}

.StrategicInfo {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 34px;
  font-family: Verdana-Bold;
  color: white;
}

/*=======================================================================================================================*/

@font-face {
  font-family: "Verdana";
  src: url("fonts/Verdana.eot");
  src: local("☺"), url("fonts/Verdana.woff") format("woff"),
    url("fonts/Verdana.ttf") format("truetype"),
    url("fonts/Verdana.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Verdana-Bold";
  src: url("fonts/Verdana-Bold.eot");
  src: local("☺"), url("fonts/Verdana-Bold.woff") format("woff"),
    url("fonts/Verdana-Bold.ttf") format("truetype"),
    url("fonts/Verdana-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  padding-left: 200px;
  padding-right: 200px;
}

.news {
  height: 852px;
}

.news_text_top {
  width: 1200px;
}

.news_text_top_1 {
  margin-top: 75px;
  font-family: Verdana-Bold, serif;
  font-size: 24px;
  line-height: 28px;
  color: #343434;
  text-transform: uppercase;
  margin-bottom: 22px;
  text-align: center;
}

.news_text_top_2 {
  font-size: 16px;
  line-height: 24px;
  color: #afafaf;
  font-family: Verdana, sans-serif;
  padding-bottom: 40px;
  text-align: center;
}

.news_img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
}

.news_img_tx-area_text {
  padding-top: 24px;
  padding-left: 30px;
}

.news_img__tx-area_top {
  font-size: 20px;
  line-height: 26px;
  color: #fe504f;
  font-family: Verdana-Bold, serif;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 1px;
}

.news_img__tx-area_bottom {
  margin-top: 12px;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  font-family: Verdana, sans-serif;
}

.news_img__tx-area_data {
  font-size: 12px;
  line-height: 20px;
  color: #fe504f;
  font-style: italic;
  font-family: Verdana, sans-serif;
  margin-left: 170px;
}

.news_img_tx-area {
  width: 300px;
  height: 300px;
  background-color: #333333;
}

.news_img_tx-area_2,
.news_img_tx-area_3,
.news_image_3 {
  margin-top: -5px;
}

.news_img__tx-area_data-1 {
  margin-top: 27px;
}

.news_img__tx-area_data-2 {
  margin-top: 41px;
}

.news_img__tx-area_data-3 {
  margin-top: 21px;
}

.squares {
  margin-left: 283px;
  display: grid;
  grid-template-columns: 300px 547px 300px;
}

.news_square {
  width: 34px;
  height: 34px;
  transform: rotate(45deg);
  background: #333333;
}

.news_square-1 {
  position: relative;
  top: 372px;
}

.news_square-2 {
  position: relative;
  top: 71px;
}

.news_square-3 {
  position: relative;
  top: 318px;
}

.contact_text {
  display: flex;
  padding-top: 95px;
}

.contact_right {
  margin-top: -2px;
}

.contact_text_right_logo {
  font-family: Verdana-Bold, serif;
  text-transform: uppercase;
  color: #fe504f;
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 32px;
  margin-bottom: 9px;
  margin-left: 15px;
}

.contact_text_logo:hover {
  cursor: pointer;
}

.Underline_right {
  margin-bottom: 20px;
  background-color: #fd4f4f;
  border: none;
  width: 51px;
  height: 3px;
  margin-left: 16px;
}

.hhk {
  margin-bottom: 370px;
}

.contact_right_info {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  padding-top: 3px;
  padding-bottom: 35px;
  margin-left: 15px;
}

.contact_right_input_set {
  width: 428px;
  height: 41px;
  background-color: rgba(254, 80, 79, 0);
  font-family: Verdana, serif;
  font-size: 14px;
  color: #afafaf;
  padding-left: 15px;
}

#formForSendMessage_name,
#formForSendMessage_email,
#formForSendMessage_subject {
  border: 1px solid #adadad;
  margin-bottom: 15px;
}

#formForSendMessage_message {
  height: 175px;
  resize: none;
  padding-top: 15px;
  border: 1px solid #adadad;
}

#contact-BtnForSendTOEmail {
  width: 130px;
  height: 40px;
  font-size: 16px;
  background-color: rgb(52, 52, 52);
  color: white;
  font-family: Verdana, sans-serif;
  border-radius: 50px;
  border: 0;
  margin-left: 330px;
  margin-top: 20px;
}

#contact-BtnForSendTOEmail:hover {
  cursor: pointer;
  background-color: #ff4e4d;
}

.contact {
  background-image: url(pictures/contact_bg.png);
  height: 715px;
  width: 1600px;
}

.blackout_bg {
  background-color: rgba(0, 0, 0, 0.8);
  height: 715px;
  width: 1600px;
}

.contact_left {
  flex-basis: 57%;
}

.contact_text_logo {
  font-family: Verdana-Bold, serif;
  text-transform: uppercase;
  color: #fe504f;
  font-size: 32px;
  letter-spacing: -1.5px;
  line-height: 32px;
   cursor: pointer; 
}

.contact_text_inf {
  font-family: Verdana, serif;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;

  margin-top: 31px;
  margin-bottom: 25px;
}

._Underline {
  background-color: #fd4f4f;
  border: none;
  width: 51px;
  height: 3px;
}

.contact_icons {
  display: inline-flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  margin-top: 7px;
}

.contact_icons1{ 
    font-size: 18px; 
    margin-bottom: 15px; 
    border: 1px solid #fd4f4f; 
    padding: 4px 9px; 
    cursor: pointer; 
} 

.contact_icons2{ 
    font-size: 20px; 
    margin-bottom: 15px; 
    border: 1px solid #fd4f4f; 
    padding:3px 6px 2px 6px; 
    cursor: pointer; 
} 

.contact_icons3{ 
    font-size: 15px; 
    margin-bottom: 15px; 
    border: 1px solid #fd4f4f; 
    padding: 5px 4px 5px 6px; 
    cursor: pointer; 
}

.contact_inf {
  display: flex;
  flex-direction: row;
  margin-top: 34px;
}

.contact_inf_li {
  font-family: Verdana-Bold, serif;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 45px;
  color: #ffffff;
  list-style-type: none;
  margin-left: 15px;
}

.footer{
    background-color: #343434;
    height: 101px;
    width: 1600px;

}
.footer_text{
    font-size: 12px;
    color: #ffffff;
    font-family: Verdana-Bold, serif;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.footer_navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 22px;
}
.fa{
    color: #fe504f;
}
.links{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-right: 55px;
}


.links>li:first-child {
    border-left: none;
}
#link-youtube{
    font-size: 20px;
    cursor: pointer;
}
#link-twitter{
    font-size: 22px;
    cursor: pointer;
}
#link-linkedin{
    font-size: 23px;
    margin-top: -2px;
    cursor: pointer;
}
#link-facebook{
    margin-top: 1px;
    font-size: 20px;
    cursor: pointer;
}
.line {
    background-color: #fd4f4f;
    border: none;
    width: 1px;
    height: 20px;
    margin-top: 3px;
    margin-right: 15px;
    margin-left: 15px;
}

.sendMessage {
  width: 300px;
  height: 100px;
  background-color: #343434;
  border-style: solid;
  border-color: #fd4f4f;
  border-radius: 50px;

  font-family: Verdana, sans-serif;
  text-align: center;
  text-transform: uppercase;
  line-height: 100px;
  color: #fff;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -150px;
}
